<%= form_with(model: available_property, local: true, html: { class: 'needs-validation', novalidate: "" }) do |form| %>
  <% if available_property.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">The form couldn't be saved due to <%= pluralize(available_property.errors.count, "error") %>:</h4>
      <ul>
        <% available_property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control', placeholder: 'Property Name', required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :city, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :city, class: 'form-control', placeholder: 'City', required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :address, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :address, class: 'form-control', placeholder: 'Address', required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :listed_price, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :listed_price, step: 0.01, class: 'form-control', placeholder: 'Listed Price', required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :bedrooms, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :bedrooms, class: 'form-control', placeholder: 'Number of Bedrooms', required: true %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :has_pool, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.check_box :has_pool, class: 'form-check-input' %>
      <%= form.label :has_pool, 'Has Pool?', class: 'form-check-label' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :publication_date, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.date_field :publication_date, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.file_field :image, direct_upload: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :agent_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_select :agent_id, @agents, :id, :name, { prompt: "Selecciona un Agente" }, { class: 'form-select', required: true } %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :seller_id, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_select :seller_id, @sellers, :id, :name, { prompt: "Selecciona un Vendedor" }, { class: 'form-select', required: true } %>
    </div>
  </div>

  <% if available_property.image.attached? %>
    <div class="mb-3">
      <%= image_tag available_property.image.url, class: 'img-thumbnail' %>
    </div>
  <% end %>

  <div class="text-end">
    <%= form.submit available_property.persisted? ? 'Update Property' : 'Create Property', class: 'btn btn-primary' %>
  </div>
<% end %>
