<%= form_with(model: agent, local: true, html: { class: 'needs-validation', novalidate: "" }) do |form| %>
  <% if agent.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">The form couldn't be saved due to <%= pluralize(agent.errors.count, "error") %>:</h4>
      <ul>
        <% agent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3 align-items-center">
    <%= form.label :nombre, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control', placeholder: 'Nombre', required: true %>
    </div>
  </div>

  <div class="row mb-3 align-items-center">
    <%= form.label :correo, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.email_field :email, class: 'form-control', placeholder: 'Correo', required: true %>
    </div>
  </div>

  <div class="row mb-3 align-items-center">
    <%= form.label :fecha_de_contrato, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.date_field :contract_date, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="row mb-3 align-items-center">
    <%= form.label :comisión_base, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :base_commission, step: 0.01, class: 'form-control', placeholder: 'Comisión Base', required: true %>
    </div>
  </div>

  <div class="text-end">
    <%= form.submit agent.persisted? ? 'Actualizar Agente' : 'Crear Agente', class: 'btn btn-primary' %>
  </div>
<% end %>
